
.container1{
    background-image:url(hero.jpg)
}
.header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
flex-wrap: wrap;
background-color: white;

}

.logo{
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    padding-bottom: 20px;
    justify-content: left;

}

.navigation{
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 20px;


    nav{
        margin: 0px 10px;
    }
}

.n123{
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex-basis: 20px;
    justify-content: ;
    row-gap: 20px;
   
n1{
    margin-top: 30px;
}
n2 {
    margin-top: 30px; 
    justify-content: last baseline;
}
n3{
    margin-top: 30px;
    justify-content: last baseline;
}
n4 {
    margin-top: 30px;
    justify-content: last baseline;
}
}
.herotext{
    padding-left: 50px;
    margin-left:  700px;;
    background-color: lightgoldenrodyellow;
    width: 500px;
    padding-bottom: 60px;
    margin-bottom: 250px;
    position: 0px;;
    bottom :30px;
    height: 3%;
    padding-right: 20px;
}

    h5{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: bold;
        padding-top: 50px;

    }
    .disc{
        font-weight: bolder;
        font-size: 70px;
        color:rgb(255, 187, 0);
        
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.788);
  font-weight: 55px;
    }
    .button1{
        background-color: rgb(255, 187, 0);
        border: 4px;
        height: 50px;
        width: 150px;
        margin-right: 20px;
        font-display: 3px;
        color: white;
        font-weight: bolder;
    }
.container2{
    
}
    .textbox2{
        font-weight: bolder;
        color:black;
        align-items:center ;
        justify-content: center;
        p{
            font-size: 25;
            color: gray;
        }
        h2{
            font-weight: bolder;
            font-display: 50px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

    }
.container{
    margin-top: 30px;
    margin-bottom: 40px;
}
    .range{
        display: flex;
  justify-content:;
  row-gap: 20px;

    }

    .item{
        /* flex: 2 */
  /* margin: 10px; */
  text-align: center;
    }
    .item img{
        width: 80%;
        height: 500px;
    }
.item p{
    margin-top: 8px;
}

.container3{
    margin-top: 0px;
    margin-bottom: 0px;
}
    .productline1{
        display: flex;
  justify-content:;
  row-gap: 30px;
  width: px

    }

    .productline2{
        display: flex;
  justify-content:5px;
  row-gap: 30px;
  width: px

    }

    .pr{
        display: ;
  text-align: center;

    }
    .pr img{
        width: 80%;
        height: 500px;
        padding-top: 50px;

    }
    .b2{
        background-color: white;
        border: 10px;
        height: 40px;
        width: 150px;
        margin-right: 20px;
        font-display: 3px;
        color: yellow;
        font-weight: 80px;
        border-color: yellow;
        border-radius: 30px;
        text-wrap: 40px;
        margin-bottom: 40px;
       
    }

    .p50{
        width: 100%;
        height: 500px;
        justify-content: space-between;
    }
    .container4{
        background-color:antiquewhite;
        width: 80%;
        height: 500px;
        display: flex;
        row-gap: 50px;
justify-content: space-between;
        
       

    }
    .b3{
        background-color: rgb(255, 187, 0);
        border: 4px;
        height: 50px;
        width: 150px;
        margin-right: 20px;
        font-display: 3px;
        color: white;
        font-weight: bolder;
    }
    .bed{
        background-color: transparent;
        width: 200px;
        height: 100px;
        margin-inline: 50px;
        opacity: 0.3px;
        
        
    }

    .inner{

    }
    .arrow{
        background-color: yellow;
        height: 30px;
        
    }

.container5{
    display: flex;
    row-gap: 0px;
    margin-bottom: 100px;
     margin-top: 50px;
    justify-content: space-between;
}

.textbox5{
    margin-left: 1000px;
    margin-bottom: 0px;
     margin-top: 300px;
     display: grid;
     align-items: right;

}

.container6{
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    margin-left: 60px;
    
}
.subscribe{
    position: relative;
    margin-right: 300px;
    margin-top: 89px;
    margin-left: 0px;
    text-underline-offset: below;
}

.container7{
    margin-left: 60px;
    margin-top: 30px;
}